@import './base.css';

* {
    font-family: 'Nunito', sans-serif;
}
#app {
    background-color: #f5f5f5;
}

#backgroundview {
    background: #FFFFFF url('../assets/Hexagon.svg') center center/cover no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#form {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 1px 3px 7px #555555;
    border-radius: 10px;
    padding: 80px;
    width: 40%;
    margin: auto;
}